body {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: #333;
	}

  #first-paragraph {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    white-space: pre-line;
  }

  #faves-list {
    font-size: 12px;
    font-family: helvetica, sans-serif;
    color: inherit;
    text-align: right;
    white-space: inherit;
  }
